!!!  5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8") 
    title Skills
    link(type="text/css", href="/ui/css/ui-lightness/jquery-ui-1.8.14.custom.css", rel="Stylesheet")
    link(href="/_styles.css", media="screen", rel="stylesheet", type="text/css")
    link(href="/base.css", media="screen", rel="stylesheet", type="text/css")
    !=partial('assets', {assets: assets})
  body
    header:p Skills
    ol#skills
